ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

p {
	font-size: 12;
}

li {
    float: left;
}

li p {
	display: block;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
text-align: center;
}
